[submodule "references/AutoResearch-mac/autoresearch-mlx"]
	path = references/AutoResearch-mac/autoresearch-mlx
	url = https://github.com/trevin-creator/autoresearch-mlx.git
[submodule "references/AutoResearch-mac/autoresearch-macos"]
	path = references/AutoResearch-mac/autoresearch-macos
	url = https://github.com/miolini/autoresearch-macos.git
[submodule "references/AutoResearch-mac/autoresearch-karpathy"]
	path = references/AutoResearch-mac/autoresearch-karpathy
	url = https://github.com/karpathy/autoresearch.git
[submodule "references/draftbench"]
	path = references/draftbench
	url = https://github.com/alexziskind1/draftbench.git
[submodule "references/opencode"]
	path = references/opencode
	url = https://github.com/sst/opencode.git
[submodule "references/oh-my-opencode"]
	path = references/oh-my-opencode
	url = git@github.com:code-yeongyu/oh-my-opencode.git
